.row-1 img.logo{
    width: 80px;
}
.lens{
    width: 30px;
}
.lens:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.bg-black{
    background-color: black;
}
.list-style-none{
    list-style: none;
}
.tasti-menu:hover,.tasti-menu:hover i,
.tasti-menu:focus,.tasti-menu:focus i,
#menusearch:hover{
    color:rgb(79, 189, 233)!important;
}

i.fas.fa-angle-down,i.fas.fa-angle-up{
    color: darkgrey;
    font-size: 14px;
}
.tasti-menu:focus .fas.fa-angle-up{
    display: inline-block!important;
}
.tasti-menu:focus .fas.fa-angle-down{
    display: none!important;
}
.button-login:hover a:after {
    content: "";
    position: absolute;
    top: 6%;
    left: 2%;
    width: 96%;
    height: 88%;
    border: 1px solid white;
    opacity: 0;
    animation: bordo 0.2s linear forwards;
    border-radius: 50em;
}

@keyframes bordo{
    100%{   
        opacity: 1;    
    }
}

.container-fluid.menu-fixed{
    z-index: 1000;
}

@media screen and (max-width:991px) {
    #menu-dx .button-login{
        width: 250px!important;
    }
    li.search{
        border:1px solid black;
    }
}

#searchtext{
    width: 240px!important;
    font-size: 14px;
    padding: 5px 10px;
}
#searchbutton{
    width: 100px!important;
    font-size: 14px;
    padding: 5px 0px;
}
@media screen and (min-width:1200px) {
    #searchtext{
        width: calc(70vw - 750px) !important;
    }
    #searchbutton{
        width: 50px!important;
    }
}
@media screen and (min-width:1400px) {
    #searchtext{
        width: calc(70vw - 850px) !important;
    }
}
/*CONTAINER DUE */

.block-2 {
    background-image: url(img/jumbo-bg.png);
    background-size: auto;
    height: 795px;
    background-position: center;
    background-position-y: 120px;
    background-repeat: repeat-x;
}

.block-2 .row-main{
    transform:translate(0px,400px);
}

.button-acquista{
    background-color:orangered!important;
}

h1{ /*prima c'era il .main-title */
    font-size: 2.7rem;
}

/*CONTAINER TRE */
.block-3 img.img-fluid{
    border-radius: 15px;
    transition: transform 1s;
}

.block-3 div.preview:hover img{
    transform: translate(0px,-15px);
}

/*/.main-img-preview{
    position: relative;
}
.main-img-preview::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 2000;
    background-color: red;
    border: 2px solid blue;
}*/

/*CONTAINER  QUATTRO */
/*E' TRISTE*/

/*CONTAINER CINQUE */
.button-more-info{
    background-color:unset;
}

.accessory-preview div.preview img{
    filter: opacity(0.6);
    transition: filter 1s;
}
.accessory-preview div.preview:hover img{
    filter: opacity(1);
    cursor: pointer;
}

/*CONTAINER SEI */

.block-6 {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    max-height: 795px;
    background-position: center;
    background-repeat: repeat-x;
}

.block-6 .row-main{
    padding:60px 0;
}

.button-acquista{
    background-color:orangered!important;
}

h1{ /*prima c'era il .main-title */
    font-size: 2.7rem;
}

.block-6.container-fluid::after {/*il titolo si legge molto meglio*/
    content: "";
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: gray;
    opacity: 0.15;
}

/*CONTAINER SETTE */
.block-7 img.img-fluid{
    border-radius: 15px;
    transition: transform 1s;
}

.block-7 div.preview:hover img{
    transform: translate(0px,-15px);
}

/*CONTAINER OTTO */
/*FA COMPAGNIA AL QUATTRO*/

/*CONTAINER NOVE */
.block-9{
    background-color: #bbb;
}

.button-plus{
    background-color:#ffffff91;
}
.button-plus:hover::after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 102%;
    height: 115%;
    border: 2px solid gray;
    opacity: 0;
    animation: bordo 0.2s linear forwards;
    border-radius: 50em;
    filter: opacity(0.3);
    cursor: pointer;
}

.button-now:hover a::after{
    border: 1px solid black!important;
}

/*CONTAINER NOVE */
/*si uniscono, ORMAI SONO UNA COMITIVA*/

/*CONTAINER DIECI */
.block-10 .img-fluid{
    cursor: pointer;
}

/*CONTAINER  UNDICI */
.block-11{
    background-color:#18184a;
}


.footer-logo img.footer-logo{
    width: 6rem;
    filter: invert(1) brightness(700%);
}
.img-globe{
    width: 1rem;
}
.img-sie-logo{
    width: 7rem;
}

div.footer-reg::after{
content:"\00AE";
font-size:13px;
color: white;
position: relative;
right: 30px;
top:30px;
}

.footer-link a{
    text-decoration: none;
    color:white;
    line-height: 2rem;
}
.footer-link a:hover{
    text-decoration: underline;
}

.preview:hover{
    cursor: pointer;
}

/* BONUS */
.imm-main-preview{
    position: relative;
}

.imm-main-preview.slide::after {
    border-bottom: 8px solid #0d6dfd;
    border-radius: 10px;
    content: "";
    position: absolute;
    width: 0%;
    left: 0;
    bottom: -10px;
    animation: timecount 4.2s linear;
}

@keyframes timecount{
    100%{
        width: 100%;
    }
}

/*BONUS NUOVA PAGINA */
video{
    width: 100%;
}

div.video2{
    
    
    transform: scale(0.95);
}

div.video,div.video2{
    position: relative;
}

div.button-video {
    position: absolute;
    top: calc(15% - 10px);
    z-index: 30;
    text-align: center;
    left: 11%;
    background-color: rgb(99, 137, 241);
    width: 25%;
    height: 11%;
    opacity: 0;
    cursor: pointer;
    animation: opacita 1s ease 6.8s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    border-end-end-radius: 149px;
    border-start-start-radius: 149px;
}

div.button-video:hover{
    /*box-shadow: 3px 3px 5px blue;*/
    box-shadow: 2px 2px 10px 3px blue;
}

@keyframes opacita{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

div.video::before{
    border: 6px solid #257cff; /**/
    border-radius: 10px;
    border-end-start-radius: 0;
    z-index: 2;
    border-top:unset;
    border-left: unset;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    left:50%;
    bottom: 0;
    animation: bordodx 2s linear 3s forwards,sparisci 1s 8.5s forwards;
}

div.video2::after{
    border-top: 6px solid #257cff;
    border-radius: 5px;
    content: "";
    position: absolute;
    width: 0;
    height: 0%;
    right:0;
    top: -6px;
    animation: bordotopdx 2s linear 5s forwards,sparisci 1s 8.5s forwards;
}

div.video::after{
    border-top: 6px solid #257cff;
    border-radius: 5px;
    border-left: unset;
    content: "";
    position: absolute;
    width: 0;
    height: 0%;
    left:0;
    top:-6px;
    animation: bordotopsx 2s linear 5s forwards,sparisci 1s 8.5s forwards;
}

div.video2::before{ 
    border: 6px solid #257cff;
    border-radius: 10px;
    border-end-end-radius: 0;
    z-index: 1;
    border-top: unset;
    border-right: unset;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    opacity: 0;
    bottom: 0;
    animation: bordosx 2s linear 3s forwards,sparisci 1s 8.5s forwards;
    
}

@keyframes bordodx {
    0%{
        opacity: 1;
        width:10%;
    }
    25%{
        width:30%;
    }
    50%{
        width:50%;
        height: 0%;
    }
    75%{
        width:50%;
        height:20%;
    }
    90%{
        width:50%;
        height:50%;
    }
    100%{
        width:50%;
        opacity: 1;
        height:calc(100% + 6px)
    }
}

@keyframes bordosx {
    0%{
        left:50%;
        opacity: 1;
    }
    25%{
        left:30%;
    }
    50%{
        width: 55%;
        left:calc(0% - 6px);
        height: 0%;
    }
    75%{
        left:calc(0% - 6px);
        height:20%;
    }
    90%{
        left:calc(0% - 6px);
        height:50%;
    }
    100%{
        width: 55%;
        left:calc(0% - 6px);
        height:calc(100% + 6px);
        opacity: 1;
    }
}

@keyframes bordotopdx {
    0%{
        
    border-left: 6px solid #257cff;
        width: 0%;
    }
    25%{
        width: 25%;
        height: 0%;
    }
    50%{
        border-left: 6px solid #257cff;
        width: 50%;
        height: 0%;
    }
    75%{
        width: 75%;
        height: 0%;
    }
    100%{
        border-left: 6px solid #257cff;
        width: 75%;
        height: 15%;
    }
}


@keyframes bordotopsx {
    0%{
        width: 0%;
        border-right: 6px solid #257cff;
    }
    25%{
        width: 13%;
        height: 0%;
    }
    50%{
        border-right: 6px solid #257cff;
        width: 19%;
        height: 0%;
    }
    75%{
        width: 22%;
        height: 0%;
    }
    100%{
        border-right: 6px solid #257cff;
        width: 22%;
        height: 15%;
    }
}

@keyframes sparisci{
    100%{
        opacity: 0;
    }
}

