/*la prima imm è un background non img*/

/*hover non è sul padre ma sarebbe meglio sul padre 
alle imm che si alzano*/

/*i due bottoni acquista e magg. informazioni sono uguali (il fatto del bordo)*/

/*hover sul div padre nella sezione PS5*/

/*footer 3 da 6, che diventano 3 da 12 in lg*/

ul.dropdown-menu.show {
    transform: translate(0px, 52px);
}
.dropdown-menu{
    width:100%;
}

.row-1 img.logo{
    width: 80px;
}
.lens{
    width: 30px;
}

.row-1{
    background-color: black;
}


.tasti-menu:hover,.tasti-menu:hover i,
.tasti-menu:focus,.tasti-menu:focus i{
    color:rgb(79, 189, 233)!important;
}

i.fas.fa-angle-down,i.fas.fa-angle-up{
    color: darkgrey;
    font-size: 14px;
}
.tasti-menu:focus .fas.fa-angle-up{
    display: inline-block!important;
}
.tasti-menu:focus .fas.fa-angle-down{
    display: none!important;
}


.button-login:hover a:after {
    content: "";
    position: absolute;
    top: 6%;
    left: 2%;
    width: 96%;
    height: 88%;
    border: 1px solid white;
    opacity: 0;
    animation: bordo 0.2s linear forwards;
    border-radius: 50em;
}

@keyframes bordo{
    100%{   
        opacity: 1;    
    }
}

.container-fluid.dropdown-menu ul li{
    margin: 0 20px;
}
.container-fluid.dropdown-menu ul li:hover a{
    color:rgb(79, 189, 233)!important;
}
.container-fluid.dropdown-menu ul{
    border: 1px solid #cbcbcb;
    padding: 10px 0;
}

.container-fluid.dropdown-menu.border-0.show{
    transform: translate(0px,105px)!important;
}
.navbar-collapse .navbar-nav .dropdown-menu.border-0.show{
    transform: translate(0px,0px)!important;
}

.col-auto.text-center:hover img{
    box-shadow: 1px 1px 6px 1px #888;
}

.navbar-collapse .navbar-nav .container-fluid.dropdown-menu.border-0.show img {
    width: 70px;
}

.navbar-collapse .navbar-nav .button-login{
    width: 200px;
    text-align: center;
}
.navbar-collapse .navbar-nav .button-login:hover a:after{
    top: 4%;
    left: 1%;
    width: 98%;
    height: 92%;
}

.container-fluid.menu-fixed{
    z-index: 1000;
}

/*CONTAINER DUE */

.block-2 {
    background-image: url(img/jumbo-bg.png);
    background-size: auto;
    height: 795px;
    background-position: center;
    background-position-y: 120px;
    background-repeat: repeat-x;
}

.block-2 .row-main{
    transform:translate(0px,400px);
}

.button-acquista{
    background-color:orangered!important;
}

h1{ /*prima c'era il .main-title */
    font-size: 2.7rem;
}

/*CONTAINER TRE */
.block-3 img.img-fluid{
    border-radius: 15px;
    transition: transform 1s;
}

.block-3 div.preview:hover img{
    transform: translate(0px,-15px);
}

/*/.main-img-preview{
    position: relative;
}
.main-img-preview::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 2000;
    background-color: red;
    border: 2px solid blue;
}*/

/*CONTAINER  QUATTRO */
/*E' TRISTE*/

/*CONTAINER CINQUE */
.button-more-info{
    background-color:unset;
}

.accessory-preview div.preview img{
    filter: opacity(0.6);
    transition: filter 1s;
}
.accessory-preview div.preview:hover img{
    filter: opacity(1);
    cursor: pointer;
}

/*CONTAINER SEI */

.block-6 {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    max-height: 795px;
    background-position: center;
    background-repeat: repeat-x;
}

.block-6 .row-main{
    padding:60px 0;
}

.button-acquista{
    background-color:orangered!important;
}

h1{ /*prima c'era il .main-title */
    font-size: 2.7rem;
}

.block-6.container-fluid::after {/*il titolo si legge molto meglio*/
    content: "";
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: gray;
    opacity: 0.15;
}

/*CONTAINER SETTE */
.block-7 img.img-fluid{
    border-radius: 15px;
    transition: transform 1s;
}

.block-7 div.preview:hover img{
    transform: translate(0px,-15px);
}

/*CONTAINER OTTO */
/*FA COMPAGNIA AL QUATTRO*/

/*CONTAINER NOVE */
.block-9{
    background-color: #bbb;
}

.button-plus{
    background-color:#ffffff91;
}
.button-plus:hover::after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 102%;
    height: 115%;
    border: 2px solid gray;
    opacity: 0;
    animation: bordo 0.2s linear forwards;
    border-radius: 50em;
    filter: opacity(0.3);
    cursor: pointer;
}

.button-now:hover a::after{
    border: 1px solid black!important;
}

/*CONTAINER NOVE */
/*si uniscono, ORMAI SONO UNA COMITIVA*/

/*CONTAINER DIECI */
.block-10 .img-fluid{
    cursor: pointer;
}

/*CONTAINER  UNDICI */
.block-11{
    background-color:#18184a;
}


.footer-logo img.footer-logo{
    width: 6rem;
    filter: invert(1) brightness(700%);
}
.img-globe{
    width: 1rem;
}
.img-sie-logo{
    width: 7rem;
}

div.footer-reg::after{
content:"\00AE";
font-size:13px;
color: white;
position: relative;
right: 30px;
top:30px;
}

.footer-link a{
    text-decoration: none;
    color:white;
    line-height: 2rem;
}
.footer-link a:hover{
    text-decoration: underline;
}

.preview:hover{
    cursor: pointer;
}

/* BONUS */
.imm-main-preview{
    position: relative;
}

.imm-main-preview.slide::after {
    border-bottom: 8px solid #0d6efd;
    border-radius: 10px;
    content: "";
    position: absolute;
    width: 0%;
    left: 0;
    bottom: -10px;
    animation: timecount 4.2s linear;
}

@keyframes timecount{
    100%{
        width: 100%;
    }
}
